# Data cleaning and preprocessing

In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset = pd.read_csv("datasets/IPL Ball-by-Ball 2008-2020.csv")

## Understanding the dataset

In [3]:
dataset.shape

(193468, 18)

In [4]:
dataset.head(5)

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
0,335982,1,6,5,RT Ponting,BB McCullum,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
1,335982,1,6,6,BB McCullum,RT Ponting,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
2,335982,1,7,1,BB McCullum,RT Ponting,Z Khan,0,0,0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
3,335982,1,7,2,BB McCullum,RT Ponting,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
4,335982,1,7,3,RT Ponting,BB McCullum,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore

In [5]:
dataset.describe()

,id,inning,over,ball,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket
count,1.934680e+05,193468.000000,193468.000000,193468.000000,193468.000000,193468.000000,193468.000000,193468.000000,193468.000000
mean,7.567688e+05,1.482131,9.177027,3.615967,1.240231,0.066414,1.306645,0.000083,0.049078
std,3.060971e+05,0.499682,5.676848,1.807128,1.610867,0.339991,1.598802,0.009094,0.216031
min,3.359820e+05,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5.012270e+05,1.000000,4.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,7.292970e+05,1.000000,9.000000,4.000000,1.000000,0.000000,1.000000,0.000000,0.000000
75%,1.082628e+06,2.000000,14.000000,5.000000,1.000000,0.000000,1.000000,0.000000,0.000000
max,1.237181e+06,2.000000,19.000000,9.000000,6.000000,7.000000,7.000000,1.000000,1.000000

## Cheking for missing values

In [6]:
dataset.isnull().sum()

id                       0
inning                   0
over                     0
ball                     0
batsman                  0
non_striker              0
bowler                   0
batsman_runs             0
extra_runs               0
total_runs               0
non_boundary             0
is_wicket                0
dismissal_kind      183973
player_dismissed    183973
fielder             186684
extras_type         183235
batting_team             0
bowling_team           191
dtype: int64

In [7]:
total_cells = np.product(dataset.shape)
missing_values = (dataset.isnull().sum()).sum()

In [8]:
# Percentage of missing values 
missing_percentage = (missing_values/total_cells)*100
print(missing_percentage)

21.193743208753443

Around 21% of our data is missing, which is a lot.

## Handling Missing Values
The data cannot contain missing values when being fed to the model for training. Hence handling missing values is the most important part of data cleaning.

### Figuring out why the data is missing

**Unrecorded Data**

We see that Bowling Team has a very few missing values. These need to be inspected on because this data should've been recorded. Which means it's not missing because it doesn't exist, but it's missing because it isn't recorded.

In [9]:
total_cells_bowling = (dataset['bowling_team'].shape)[0]
missing_values_bowling = dataset['bowling_team'].isnull().sum()

In [10]:
# Percentage of missing values 
missing_percentage_bowling = (missing_values_bowling/total_cells_bowling)*100
print(missing_percentage_bowling)

0.09872433684123473

The percentage is almost 0.1% which is very little. Hence we'll just drop these rows.

In [11]:
before = (dataset.shape)[0]

In [12]:
dataset = dataset.dropna(axis=0, subset=['bowling_team'])

In [13]:
after = (dataset.shape)[0]

In [14]:
print("Rows dropped = ",before-after)

Rows dropped =  191

In [15]:
dataset.isnull().sum()

id                       0
inning                   0
over                     0
ball                     0
batsman                  0
non_striker              0
bowler                   0
batsman_runs             0
extra_runs               0
total_runs               0
non_boundary             0
is_wicket                0
dismissal_kind      183792
player_dismissed    183792
fielder             186500
extras_type         183062
batting_team             0
bowling_team             0
dtype: int64

**Non Existant Data**

The 4 columns with the most missing values are Dismissal Kind, Player Dismissed, Fielder and Extra Type. The reason this data is missing is because a player cannot be dismissed on every ball, hance only the ball on which the player was dismissed has the data. Same thing applies to Extra Type. 

So for now, we can make all these NA values as 0 as these records cannot be dropped because they are necessary in our dataset.

In [16]:
# Replacing all NA with 0
dataset = dataset.fillna(0)

In [17]:
dataset.isnull().sum()

id                  0
inning              0
over                0
ball                0
batsman             0
non_striker         0
bowler              0
batsman_runs        0
extra_runs          0
total_runs          0
non_boundary        0
is_wicket           0
dismissal_kind      0
player_dismissed    0
fielder             0
extras_type         0
batting_team        0
bowling_team        0
dtype: int64

Our dataset has no missing values now!